CI_ENVIRONMENT = development
app.baseURL = 'http://localhost/joms-ci4/public/'
database.default.hostname = localhost
database.default.database = psboffic1_psboffi1_joms
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306
